{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "^react$",
    "^react/(.*)$",
    "^next$",
    "^next/(.*)$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/types/(.*)$",
    "",
    "^@/configs/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "",
    "^@/registry/(.*)$",
    "",
    "^@/assets/(.*)$",
    "^@/styles/(.*)$",
    "",
    "^@/app/(.*)$",
    "",
    "^[./]"
  ]
}
